# This is a sample build configuration for PHP.
# Check our guides at https://confluence.atlassian.com/x/VYk8Lw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: phpunit/phpunit:6.0.0

pipelines:
  default:
    - step:
        script: # Modify the commands below to build your repository.
          - composer self-update
          - composer global require "hirak/prestissimo:^0.3"
          - composer install --ignore-platform-reqs

#  branches:
#    staging:
#      - step:
#        script:
#          - composer install
#          - service mysql start
#          - mysql -h localhost -u root -proot -e "DROP DATABASE IF EXISTS zabtlk; CREATE DATABASE IF NOT EXISTS zabtlk;"
#          - php artisan migrate --env=testing
#          - phpunit -c phpunit.xml